
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #3b3b3b;
}

h1 {
    color: #4c72a4;
}
h2{
    color:#fff;
}
h3{
    color: #fff;
}
h5{
    color: #fff;
}

.config-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.config-menu a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s;
}

.config-menu a.active {
    border-bottom-color: #333;
}

.config-section {
    display: none;
    margin-bottom: 30px;
}

.config-section.active {
    display: block;
}

.config-form {
    max-width: 400px;
    margin: 0 auto;
}

.config-form label {
    display: block;
    margin-bottom: 10px;
}

.config-form input[type="text"],
.config-form input[type="password"],
.config-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.config-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.Card{
    background: #191919;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin: 15px;
    position: static;
    text-align: center; 
    -webkit-perspective: 250px;
    -moz-perspective: 250px;
    display: inline-block;
    
}

.Card img{
    width: 70%;
    height: 70%;
}

.CaixaM{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 80%;
}

.CardMn {
    background: #191919;
    height: 400px;
    width: 40px;
    border-radius: 20px;
    margin: 15px;
    position: static;
    text-align: center; 
    
}
.CardMnn {
    background: #191919;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 15px;
    position: static;
    text-align: center; 
}
button{
    background-color: #10c6df;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
}
button:hover{
    background-color: transparent;
    border: 2px solid #10c6df;
    cursor: pointer;
}
.neon-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 64px;
    color: #14fff1;
    border: 4px solid #14fff1;
    padding: 16px 64px;
    border-radius: 16px;
  
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
  
    box-shadow: inset 0 0 32px #14fff1, 0 0 15px #14fff1;
  
    position: relative;
  }
  
  .neon-btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #14fff1;
    left: 0;
    top: 120%;
  
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
  }
  
  .neon-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  
  .neon-btn:hover::after,
  .neon-btn:focus::after {
    opacity: 1;
  }
  
  .neon-btn:hover::before,
  .neon-btn:focus::before {
    opacity: 1;
  }
  
  .neon-btn:hover,
  .neon-btn:focus {
    color: #202631;
    text-shadow: none;
  }
  .Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: nowrap;
    padding-right: 18%;
}
.dp-menu ul{
    list-style-type: nome;
    padding: 0;
    position: relative;
}


.dp-menu ul li{
   display: inline;
   position: relative;
}
  
.dp-menu ul li a{
    padding: 2px;
    display: inline-block;
 }

 .dp-menu ul ul{
    display: none;
    position: absolute;
 }

 .dp-menu ul li:hover ul{
    display: block;
 }

 .dp-menu ul ul {
    position: relative;
    

 }
 
 .dp-menu ul ul li a{
    display: block;
    
 }
